.short-links{
    background-color: $dark-violet;
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin-bottom: 30px;
    margin-top: 50px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;

    .link-input{
        width: 100%;
        height: 50px;
        padding: 0 15px;
        border-radius: 7px;
        border: none;
        outline: none;
        line-height: 30px; 
        color: darken($color: $grayish-violet, $amount: 10);       

        &::placeholder{

            font-weight: 500;
            font-size: 16px;
            color: $grayish-violet;
        }
    }

    .warning{
        display: none;
    }

    input:invalid:focus{
        outline: 2px solid $red;
    }
    input:invalid:focus + .warning{
        display: inline;
        color: $red;
        align-self: flex-start;
        font-style: italic;
        font-size: 15px;
    }

    .shorten-it-button{
        margin-top: 10px;
        background-color: $cyan;
        border: none;
        color: white;
        font-weight: 700;
        font-size: 17px;
        width: 100%;
        height: 50px;
        border-radius: 7px;

        &:active{
            transform: scale(0.98);
        }

        &:hover{
            background-color: lighten($color: $cyan, $amount: 12);
        }
    }
}