$gray: #bfbfbf;
$grayish-violet: #9e9aa7;
$very-dark-blue: #35323e;
$very-dark-violet: #232127;
$cyan: #2acfcf;
$dark-violet: #3b3054;
$red: #f46262;
$bg-1: white;
$bg-2: #EFF1F7;

@import 'header', 'info', 'short_links', 'links';

.app section{
    padding: 20px;
    width: 100%;
}

.bg-1{
    background-color: $bg-1;
}

.bg-2{
    background-color: $bg-2;
}